<body class="body-about >

 <%- include('./partials/navbar', {active: "Shop"}); %><br>
    <div class="container-fluid pt-3 mt-5 px-4">
      <div class="row align-items-center">
        <div class="col-md-6 ">
          <img src="../assets/img/girl-2393008_1280.jpg" alt="Hero Image" class="img-fluid">
        </div>
        <div class="col-md-6 px-5 py-5">
                    <h1 class="display-3 fw-bold mb-3">Ellnot Store</h1>

          <h2 class="display-4 fw-bold mb-3">Discover Your Personal Style</h2>
          <p class="lead mb-4">At Ellnot, we're passionate about helping you find the perfect pieces to express your individuality and creativity. From timeless classics to cutting-edge trends, we offer a range of products that celebrate the diversity and beauty of fashion.</p>
          <p class="mb-4">Our team of expert designers and stylists are dedicated to curating a collection that reflects the latest trends and showcases emerging talent from around the world. We're committed to using sustainable and ethical practices, ensuring that you can look good while feeling good about your impact on the planet.</p>
        <div class="text-center m-0 p-0"> <p class="m-0 p-0">Shop Now</p></div>
       
          <div class="text-center">
 <a
                class="btn btn-link btn-circle"
                role="button"
                href="#list"
                ><i class="fa fa-angle-double-down animated"></i
              ></a>
         </div>
         
        </div>
      </div>
    </div>
    
   
    
<div class="container mt-5 pt-5">
<h1>New Arrivals</h1>
 <p>Check out the latest fashion must-haves.
   Stay on the cutting edge of style with our newest clothing,
    shoes and accessories.</p> 

  <div class="product-carousel">
 
    <div class="carousel-item">
      <img src="../assets/img/Pink Minimalist Flash Sale Facebook Post.png" alt="carousel-item 1">
      <p>carousel-item 1</p>
    </div>
        <div class="carousel-item">
      <img src="../assets/img/Gray And Black Minimalist Fashion Photo Collage.png" alt="carousel-item 1">
      <p>carousel-item 2</p>
    </div>
       <div class="carousel-item">
      <img src="../assets/img/Brown Aesthetic New Arrival Instagram Post.png" alt="carousel-item 1">
      <p>carousel-item 2</p>
    </div>
     
  <div class="carousel-item">
      <img src="../assets/img/Black White Monochrome Fashion Giveaway Instagram Post.png" alt="carousel-item 1">
      <p>carousel-item 2</p>
    </div>
    
      <div class="carousel-item">
      <img src="../assets/img/Gray Elegant Fashion Photo Collage.png" alt="carousel-item 1">
      <p>carousel-item 2</p>
    </div>
 
    
      <div class="carousel-item">
      <img src="../assets/img/White Minimalist New Arrival Poster.png" alt="Product 1">
      <p>Product 2</p>
    </div>
    
  </div>


 <main class="main-display text-center">  
                 <h2 class="display-4 fw-bold mb-3">E-SHOP</h2>

  


     <div class="d-flex justify-content-center">
    <div class="form-group filters">
    <form class="form-inline mx-3 px-2">
      <div class="d-flex align-items-stretch">
        <div class="input-group flex-grow-1">
          <input id="searchbar" name="search" class="form-control form-control-sm rounded-start" type="text" placeholder="Search..." aria-label="Search">
          <button class="btn btn-primary btn-sm rounded-end" type="submit"><i class="fas fa-search"></i></button>
        </div>
        <select class="form-select form-select-sm ms-2 products-sorting" name="products-sorting">
          <option selected disabled>Sort By</option>
          <option value="type">Type</option>
          <option value="l2h">Price Low to High</option>
          <option value="h2l">Price High to Low</option>
          <option value="size">Size</option>
        </select>
      </div>
    </form>
  </div>
      <!--/.Navbar-->
</div></div>
 <!--Section: Products v.3-->
      <section  id='list' class="text-center products-grid mx-3 px-3 ">

          <div class=" main-row-products row row-cols-1 row-cols-md-4 g-4
           my-5 py-3 ">

        <!--Grid row-->
          <!--Grid column-->
   <div class="col">
            <!--Card-->
            <div data-category="1" data-size="4" data-price="9" id="1" class="card product tops">
              <!--Card image-->
        <div class="d-flex justify-content-center">        
      <img id="main-image" class="product-image card-img-top" src="../assets/img/products/t-shirt1.jpg" 
        alt="Model With Black T-shirt with bones"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="thumbnail1" src="https://images.unsplash.com/photo-1503340588524-222d094c7066?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=751&q=80"> <img id="thumbnail2" src="../assets/img/products/t-shirt1.jpg "> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a class="i-title">
        <h5 class="product-title item">Bad To The Bone T-Shirt</h5>
       <p class="text-muted category-txt">Tops</p>
      </a>
      <div class="item-details">
      <h4 class="item-price">
        <strong>£ 9</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="4" >
     <span>4</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="6"> 
        <span>6</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="9"> <span>9</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            
            <!--Card END-->
          </div>

          </div>
          <!--Grid column END-->
 <!--Grid column START-->
 
<div class="col">
  <!--Card NEW CARD-->
  
     <div data-size="1" data-category="11" data-price="8" id="11" class="card product scarves-hats">
          <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard2" class="product-image card-img-top" src="https://images.unsplash.com/photo-1604957393207-ae2e36c6a56d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" 
        alt="Model With cowboy hat"> </div> 
         <div class="mt-2 thumbnail text-center"> <img id="t1Card2" src="https://images.unsplash.com/photo-1525097248995-51d63b085896?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="cowboy hat"> <img id="t2Card2" src="https://images.unsplash.com/photo-1604957393207-ae2e36c6a56d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="Model With cowboy hat"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item">Cowboy Hat</h5>
        <p class="text-muted category-txt">Scarves & Hats</p>
      </a>
      <div class="item-details">
      <h4 class="item-price">
        <strong>£ 8</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size"  type="radio" name="size" value="1" >
     <span>OS</span></label> 
     
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
<!--Grid column-->
</div>
 <!--Grid column-->
 

  <!--Card-->
 <div class="col">
  <div data-size="10" data-category="3" data-price="19" id="3" class="card product trousers">

           <!--Card image-->
       <div class="d-flex justify-content-center">          
      <img id="mainImageCard3" class="product-image card-img-top" src="https://images.unsplash.com/photo-1599505043460-025f45a0041a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"alt="model with emerald green trousers"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card3" alt="model with emerald green trousers" src="https://images.unsplash.com/photo-1599505043552-fa95de5548ac?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHRyb3VzZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 0" class="product-image"> <img id="t2Card3" alt="model with emerald green trousers" src="https://images.unsplash.com/photo-1599505043460-025f45a0041a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="model with emerald green trousers"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
       <a  class="i-title">
        <h5 class="product-title item"> Emerald Trousers</h5>
      </a>
      <p class="text-muted category-txt">Trousers </p>
      <div class="item-details">
      <h4 class="item-price">
        <strong>£ 19</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
     <input class="input-size"  type="radio"
        name="size" value="10"> 
        <span>10</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
     
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
<!--Grid column-->
</div>
 <!--Grid column-->
    
    
    
    
    
    <div class="col">
 
  <div data-size="1" data-category="11" data-price="7" id="11" class="card product scarves-hats ">

       <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img alt="model with red scarf" id="mainImageCard4" class="product-image card-img-top" src="https://images.unsplash.com/photo-1585237017201-d3277b4528b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" 
        alt="model with red scarf"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card4" src="https://images.unsplash.com/photo-1585237017112-afd1b402e4dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="model with red scarf"> <img id="t2Card4" alt="model with red scarf" src="https://images.unsplash.com/photo-1585237017201-d3277b4528b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80 "> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Flossy Red Scarf</h5>
      </a>
      <div class="item-details">
      <p class="text-muted category-txt">Scarves & Hats</p>
      <h4 class="item-price">
        <strong>£ 7</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="1" >
     <span>OS</span></label> 
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
</div>
<!--Grid column-->
 <!--Grid column-->
 </div>
           <div class=" main-row-products row row-cols-1 row-cols-md-4 g-4 my-5 py-3 ">


  <!--Card-->
 <div class="col">
<div data-size="10" data-price="49" data-category="4" id="4" class="card product jackets">
    <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img alt="model with jeans jacket" id="mainImageCard5" class="product-image card-img-top" src="https://images.unsplash.com/photo-1501731591184-5e6c16e4cede?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" 
        alt=""> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card5" alt="model with jeans jacket" src="https://images.unsplash.com/photo-1501194729547-1672eb098b5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80"> <img alt="model with jeans jacket" id="t2Card5" src="https://images.unsplash.com/photo-1501731591184-5e6c16e4cede?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80 "> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item">Jeansadora Jacket</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Jackets</p>
      <h4 class="item-price">
        <strong>£ 49</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="10">
     <span>10</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="12"> 
        <span>12</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="14"> <span>14</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
<!--Grid column-->
          <!--Grid column-->
 </div>
 <!--Card-->


<!--Card new-->
<div class="col">
 <div data-size="6" data-price="59" data-category="5" id="5" class="card product dresses">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard6" class="product-image card-img-top" src="https://images.unsplash.com/photo-1592019963969-ebd37f7e1e92?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80" 
       alt="model with white dress"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card6" src="https://images.unsplash.com/photo-1592020051126-c240d2aaa98b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=333&q=80" alt="model with white dress"> <img id="t2Card6" src="https://images.unsplash.com/photo-1592019963969-ebd37f7e1e92?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80 " alt="model with white dress">  </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Dusk Dress
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Dresses</p>
      <h4 class="item-price">
        <strong>£ 59</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="6">
     <span>6</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="8"> 
        <span>8</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="10"> <span>10</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
            
          <!--Grid column-->
          </div>
<!--Card-->


<!--Card new-->
<div class="col">
 <div data-size="8" data-price="26" data-category="9" id="9" class="card product garments">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard7" class="product-image card-img-top" src="https://images.unsplash.com/photo-1557776198-8b17010cbbb7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" 
        alt="Model with white garment"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card7" src="https://images.unsplash.com/photo-1568381478053-82d1ba959b6c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" > <img id="t2Card7"  alt="Model with white garment" src="https://images.unsplash.com/photo-1557776198-8b17010cbbb7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80"  alt="Model with white garment"> 
        </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Admire Garment
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Garments</p>
      <h4 class="item-price">
        <strong>£ 26</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="8">
     <span>8</span></label> 
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
          <!--Grid column-->
</div>
<!--Card-->


<!--Card new-->
<div class="col">
 <div data-size="1" data-price="29" data-category="12" id="12" class="card product accessories ">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard8" class="product-image card-img-top" src="../assets/img/products/sunglasses-1.jpg" 
        alt="Blue and green effect sunglasses"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img  alt="Blue and green effect sunglasses" id="t1Card8" src="../assets/img/products/sunglasses-2.jpg"> <img id="t2Card8" src="../assets/img/products/sunglasses-1.jpg "  alt="Blue and green effect sunglasses" > </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Regency Sunglasses
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Accessories</p>
      <h4 class="item-price">
        <strong>£ 29</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="1">
     <span>OS</span></label> 
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

<!--Card-->
</div>
</div>

<div class="row main-row-products row-cols-1 row-cols-md-4 g-4">

<!--Card new-->
<div class="col">
 <div data-size="1" data-price="16" data-category="10" id="10" class="card product vintage">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard9" class="product-image card-img-top" src="../assets/img/products/purse-2.jpg" 
        alt="Vintage style purse"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card9" src="../assets/img/products/purse-1.jpg"   alt="Vintage style purse"> <img id="t2Card9" src="../assets/img/products/purse-2.jpg"   alt="Vintage style purse"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Vintagelux Purse
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Vintage</p>
      <h4 class="item-price">
        <strong>£ 16</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="1">
     <span>OS</span></label> 
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
<!--Card-->
</div>

<!--Card new-->
<div class="col">
 <div data-size="16" data-price="42" data-category="8" id="8" class="card product plus-size">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard10" class="product-image card-img-top" src="../assets/img/products/plus-size-2.jpg" 
        alt="Model with white jacket" > </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card10" src="../assets/img/products/plus-size-2.jpg" alt="Model with white jacket" > <img id="t2Card10" src="../assets/img/products/plus-size-1.jpg " alt="Model with white jacket" > </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Portler Jacket
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">+ Size</p>
      <h4 class="item-price">
        <strong>£ 42</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="16">
     <span>16</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="18"> 
        <span>18</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="20"> <span>20</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

</div>

          
<div class="col">
     <!--Card-->
     
 <div data-category="6" data-size="6" data-price="75" id="6" class="card product knitwear">

     <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard11" class="product-image card-img-top" src="../assets/img/products/knitwear-2.jpg" 
        alt="Model with cream colour winter coat" > </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card11" src="../assets/img/products/knitwear-1.jpg"   alt="Model with cream colour winter coat"> <img id="t2Card11" src="../assets/img/products/knitwear-2.jpg "   alt="Model with cream colour winter coat"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Coativa
Winter Coat</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Knitwear</p>
      <h4 class="item-price">
        <strong>£ 75</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="6" >
     <span>6</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="8"> 
        <span>8</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
</div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col">

          <!--Card-->
 <div data-size="8" data-category="7" data-price="19" id="7" class="card product petticoat">
     <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard12" class="product-image card-img-top "  src="../assets/img/products/bikini-1.jpg" 
        alt="model with black and white bikini"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card12" src="../assets/img/products/bikini2.jpg" alt="model with black and white bikini"> <img id="t2Card12" src="../assets/img/products/bikini-1.jpg " alt="model with black and white bikini"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Obsidian Bikini
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Petticoat</p>
      <h4 class="item-price">
        <strong>£ 19</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="8">
     <span>8</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="10"> 
        <span>10</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
 <!--Fourth column-->
          </div>
<div class="col">
          <!--Card-->
 <div data-size="4" data-category="2" data-price="43" id="2" class="card product skirts">
     <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard13" class="product-image card-img-top" src="../assets/img/products/skirt-1.jpg" 
        alt="model in front of blue car with blue skirt"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card13" src="../assets/img/products/skirt-2.jpg"alt="model with blue skirt"> <img id="t2Card13" src="../assets/img/products/skirt-1.jpg " alt="model in front of blue car with blue skirt"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item">Ocean Skirt
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Skirts</p>
      <h4 class="item-price">
        <strong>£ 43</strong>
      </h4>
 <div class="sizes  justify-content-center">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="4">
     <span>4</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="6"> 
        <span>6</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="8"> <span>8</span> </label>
</div>
      </div>
<button class="btn mt-2 add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

</div>
    </div>
    <!--Fourth column-->

</section>


</main>


    </div>
<script type="text/javascript" src="/public/main.js"></script>
<script type="text/javascript" src="/public/search.js"></script>
<script type="text/javascript" src="/public/sort.js"></script>
<footer>
  <%- include('./partials/footer'); %>
     </footer>
    

     </body>
     
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script>
    $('.product-carousel').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  </script>
     <script src="https://unpkg.com/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
     </html>