:root {
  --Black: #000000;
  --white: #ffffff;
  --Light: #f7f7f7;
  --Crimson-red: #b22222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOME */

.masthead {

  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.17),
      rgba(0, 0, 0, 0.795)
    ),
    url("../assets/img/bg-1.jpg");
}

.visit:hover {
  background-color: var(--Light) !important;
  color: var(--Crimson-red) !important;
}

.visit {
  color: var(--white) !important;
  border-color: var(--Crimson-red) !important;
}

/* SHOP */
/* SLIDER */
.slider {
  max-width: 1200px;
  margin: 0 auto;
  background: #272727;
}
.slick-list {
  margin: 5px !important;
}
.slick-slide {
  margin: 5px 0;
}
.slider img {
  height: 620px;
  width: auto;
}




/* Slider */
.slick-loading .slick-list
{
    background: #fff url('https://image.flaticon.com/icons/png/128/786/786017.png') center center no-repeat;
}

.slick-slider
{
    margin-bottom: 30px;
}
/* SLICK CAROUSEL */


.navbar-toggler-left {
  order: -1; /* move the button to the beginning of the flex container */
}
/* Make responsive */ 
@media (max-width: 768px) {
.cart-cont {
  margin-top: 6vh!important;
}

.masthead {
  background-image:linear-gradient(
      to left,
      rgba(245, 246, 252, 0.17),
      rgba(0, 0, 0, 0.795)
    ), url('../public/assets/img/bg-1-cropped.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* set the width and height */
  background-attachment: fixed; /* set the background to be fixed */
background-position: center;
}



.slider img {
  width: auto; 
  height:256px ;
}
.slider{
    width: 256px !important; 
  height: 256px !important; ;
}

  .navbar-collapse.show {
    left: 0;
  }

}

@media (max-width: 480px) {
  .product-carousel {
    width: 95%;
  }
}
#shop-banner {
  background-size: cover;
  background-repeat: no-repeat !important;
  background: linear-gradient(
      to top,
      rgba(246, 3, 3, 0.145),
      rgba(0, 0, 0, 0.795)
    ),
    url("../public/assets/img/pexels-karolina-grabowska-5713317\ \(1\).jpg")
      fixed center center;
}
input::placeholder:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  margin-right: 8px;
  color: #aaa;
}
.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}

/* CARD */
.card {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.2s ease;

  color: #000;
  font-weight: 900;
  font-size: 1px;
  height: 20%;

  max-height: 100vh; /* set the desired height */
}
.category-txt {
  font-size: 0.9rem;
}
.card-img-top {
  height: 40vh !important; /* set the desired height */
  object-fit: cover;
}

@media (min-width: 576px) {
  .card {
    height: 20rem; /* set the desired height */
  }

  .card-img-top {
    height: 50%; /* set the desired height */
  }
}

@media (min-width: 768px) {
  .card {
    height: 25rem; /* set the desired height */
  }

  .card-img-top {
    height: 60%; /* set the desired height */
  }
}

@media (min-width: 992px) {
  .card {
    height: 30rem; /* set the desired height */
  }

  .card-img-top {
    height: 70%; /* set the desired height */
  }
}
.thumbnail img {
  width: 10vw;
  height: 5vw;
  object-fit: cover;
}

/* A tag on card (category and product title)*/

.product-title {
  color: #000;
  font-weight: 900;
  font-family: "Cabin", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 12px auto;
}
.card-body a {
  text-decoration: none;
}
.category-txt {
  margin: 12px auto;
}
.product-title:hover {
  text-decoration: none;
  color: var(--Crimson-red);
}

.i-title:hover {
  text-decoration: none;
  color: var(--Crimson-red);
}
.card:hover {
  transform: scale(1.1);
}

.item-price {
  color: #000;
  font-weight: 400;
  margin: 0;
  font-size: 1.2rem;
  padding: 0;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 3px 8px 3px;
  text-transform: uppercase;
  border: 2px solid var(--Crimson-red);
  display: inline-block;
  color: #000;
  border-radius: 60px;
  font-size: 1rem;
}
label.radio input:checked + span {
  border-color: var(--Crimson-red);
  background-color: #000;
  color: #fff;
}
.item-price strong {
  color: #000 !important;
}

.size {
  text-transform: uppercase;
  color: #0d0d0d !important;
  font-weight: 900;
  margin: 12px auto 6px auto;
  font-family: "Cabin";
}

/* CART */
#paypal-button-container :nth-child(1) {
  width: 40%;
  margin-top: 4vh;
}
.cart-row {
  display: none;
}
#count {
  margin: 0;
}
.shopping-cart-span-icon {
  color: #6c6c6c;
  font-size: 1.5em;
  
}

.filters input,select,button{
  min-height: 32px;
  height: 34px;
}
.no-items {
  display: none;
}
strong {
  color: var(--Light);
}
.cart-link {
  text-decoration: none !important;
  font-size: 1em;
  font-weight: 900;
  font-family: "Cabin", sans-serif;
}

.add-to-cart-btn {
  background-color: #000 !important;
  color: white !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  padding: 10px !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}
.cart-nav {
  margin-left: 1em;
  background-color: white;
}

.cart-cont {
  justify-items: center;
  overflow: auto;
  resize: both;
  margin: 0em 0 0 4em;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 200%;
  object-fit: cover;
  padding-top: 1em;
  max-width: 50%;
  float: right;
}

.cart-row {
  background-color: #ffffffb1;
}

.cart-item-quantity {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
/* FOOTER */
footer {
  margin-top: 10vh;
  background-color: #100f0f;
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list-unstyled li {
  font-size: 1.1rem;
  color: #aaa;
}

.list-unstyled li a {
  color: #fff;
  text-decoration: none;
}

.list-unstyled li a:hover {
  text-decoration: underline;
}

hr.bg-light {
  border-top: 1px solid #fff;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer p {
  font-size: 1.1rem;
  color: #aaa;
}

@media screen and (max-width: 991px) {
  .list-unstyled li {
    font-size: 1rem;
  }

  hr.bg-light {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  footer p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.highl {
  color: #000;
}

.active {
  color: var(--Crimson-red) !important;
}

/* <!-- ABOUT page

*/

.about-cont li {
  list-style: none;
  margin-bottom: 3vh;
}
/* TESTIMONIALS -->  */
.testimonial-card .card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}

.testimonial-card .card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

.testimonial-card .card-subtitle {
  font-size: 1.1rem;
  color: #999;
  text-transform: uppercase;
}
.testimonial-sec {
  background-color: #2b2a2a5c;
}
.testimonial-card:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.testimonial-card .card-footer {
  border-top: 1px solid #eee;
}



/* CONTACT */

.contact-page{
  background-color: var(--Black);
}

.contact-page h1, h2, h3, h4, h5, h6 {
	color: var(--Crimson-red);
}

input[type="text"], input[type="email"], textarea {
	background-color: var(--white);
	border: 2px solid var(--Crimson-red);
	color: var(--Black);
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: var(--Crimson-red);
	color: var(--white);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
	background-color: var(--white);
	color: var(--Crimson-red);
	border: 2px solid var(--Crimson-red);
}

.map-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin-bottom: 2rem;
}

.map-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}