<footer class="text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Ellnot Fashion</h5>
        <p class="text-muted">
          Ellnot Fashion is a fashion brand that offers high-quality clothing at
          affordable prices. Our mission is to make fashion accessible to
          everyone.
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Contact Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="fas fa-phone me-2"></i
            ><a
              href="tel:(123) 456-7890"
              class="text-white"
              >(+44) 131-222-3333</a
            >
          </li>
          <li class="mb-2">
            <i class="fas fa-envelope me-2"></i
            ><a
              href="mailto:info@ellnotfashion.com"
              class="text-white"
              >info@ellnotfashion.com</a
            >
          </li>
          <li class="mb-2">
            <i class="fas fa-map-marker-alt me-2"></i>44 Princes Street Edinburgh EH2 2BY


          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Follow Us</h5>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item mb-2">
            <a href="#"><i class="fab fa-facebook-f me-2"></i>Facebook</a>
          </li>
          <li class="list-inline-item mb-2">
            <a href="#"><i class="fab fa-twitter me-2"></i>Twitter</a>
          </li>
          <li class="list-inline-item mb-2">
            <a href="#"><i class="fab fa-instagram me-2"></i>Instagram</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="text-muted mb-0">
          &copy; 2023 Claudio Sapia. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item me-md-4">
            <a
              href="#"
              class="text-white"
              >Privacy Policy</a
            >
          </li>
          <li class="list-inline-item">
            <a
              href="#"
              class="text-white"
              >Terms of Use</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
